<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Svija Sync</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E546A6653BDE45565A3FEE58A645E17BC19A1499</string>
				<key>dateExpires</key>
				<string>15/10/2026</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E546A6653BDE45565A3FEE58A645E17BC19A1499</string>
						<key>dateExpires</key>
						<string>15/10/2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>com.apple.security.app-sandbox</key>
						<true/>
						<key>com.apple.security.inherit</key>
						<true/>
					</dict>
					<key>name</key>
					<string>rsync</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z66QVF9XBZ</string>
						<key>name</key>
						<string>Svija</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E546A6653BDE45565A3FEE58A645E17BC19A1499</string>
						<key>dateExpires</key>
						<string>15/10/2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>rsync-debug</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z66QVF9XBZ</string>
						<key>name</key>
						<string>Svija</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-write</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Pwika Sync Beta.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z66QVF9XBZ</string>
				<key>name</key>
				<string>Svija</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.10</string>
		</dict>
	</array>
</dict>
</plist>
